{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}